
.register-title{
    text-align: center;
}

.login-link{
    cursor: pointer;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.error-helper{
    color: red;
}
.spinner{
    height: 100vh;
}